.searchInput {
  width: 50%;
  height: 25px;
  font-size: 18px;
  border-radius: 18px;
}

.searchInput::placeholder {
  font-size: 18px;
  font-style: italic;
  padding-left: 10px;
}

.seachSubmit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 40px; */
}

.seachHeader {
  color: white;
  text-align: start;
  font-family: cursive;
  font-size: 24px;
}
