.movie {
  display: flex;
  margin: 10px;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 213, 255, 0.514) 7%,
    rgba(72, 72, 201, 1) 77%,
    rgba(38, 37, 122, 1) 87%,
    rgba(2, 0, 36, 1) 98%
  );
  box-shadow: 12px 12px 8px 0px rgba(154, 163, 170, 0.2);
  position: relative;
  margin-bottom: 10px;
  transition: 2s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie__image {
  height: 35vh;
  color: white;
}

.movie__header {
  display: flex;
  align-items: center;
}

.movie__data {
  margin: 0;
  color: white;
  font-size: 12px;
  font-family: cursive;
  padding: 5px 10px 10px 10px;
}

.movie__title {
  margin: 0;
  color: white;
  font-family: cursive;
  padding: 10px 10px 0px 10px;
  width: 80%;
}

.movie__average {
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid gold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__overview {
  color: white;
  font-size: 1.5vh;
  font-family: cursive;
  padding: 10px;
  width: 90%;
}

.movie__genre {
  margin: 5px;
  margin-left: 10px;
  background: #fffdfd4b;
  color: white;
}

.red {
  color: #e90000;
}

.brown {
  color: #e97e00;
}

.yellow {
  color: #e9d100;
}

.gold {
  color: #66e900;
}

.ant-rate {
  margin: 0px 0px 20px 10px;
  /* position: absolute; */
  bottom: 0;
  font-size: 18px;
}
