body {
  background: radial-gradient(circle at 74.2% 50.9%, rgb(93, 134, 237) 5.2%, rgb(6, 39, 114) 75.3%);
}
.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 50%;
  cursor: pointer;
}

.ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}

.ant-tabs-nav::before {
  display: none;
}

.errorFilm {
  display: flex;
  justify-content: center;
}
